// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

$toolbar-title-font-size = 30px
$toolbar-title-font-weight = 0
$layout-aside-left-width = 250px
$layout-header-shadow = 0
$layout-footer-shadow = 0

// Material only Quasar variables overwrites
// -----------------------------------------
